# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.VGDC-Fall-Game-Jam-2021.iml
# Editor-based HTTP Client requests
/httpRequests/
